.fact_progress{
  background-color: rgb(36, 36, 36);
  width: 100%;
  margin-top: 4rem;
  height: 30rem;
}

.sample_bottom{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(59, 194, 183);
  height: 5rem;
}
.sample_bottom_btn{
  align-items: center;
  justify-content: center;
}
.sample_bottom_btn >button{
    width: 145px;
    height: 35px;
    border-radius: 5px;
    margin-left: 1rem;
    border: none;
    font-size: 10px;
    font-weight: 800;
    background-color: #ddd;
    color: rgb(36, 36, 36);
}
.sample_bottom>h4{
    font-size: 15px;
    color: #ddd;
}

.keyiconbg_23 {
  background-color: rgb(59, 194, 183);
  width: 30px;
  height: 30px;
  transform: rotateZ(45deg);
  position:relative;
  bottom:14px;
  border-radius: 3px;
  margin-left: 46rem;
}
.keyicon_2 {
  color:white;
  font-size: 14px;
  transform: rotateZ(-45deg);
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}

/*  */

.company-center{
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.batch-numbers>h1{
  
  font-size: 95px;
  font-weight: 500;
  font-family: "Garamond Premier Pro Display";
  font-feature-settings: "onum";
  src: url("https://use.typekit.net/af/6abdec/00000000000000003b9ade3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
  color: #ddd;
}
.company-center>.batch-title>h6{
  font-size: 14px;
}
.batch-numbers{
  display: flex;
  padding-left: 18rem;
  gap: 146px;

}
.batch-title{
  margin-top: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  gap: 120px;
  margin-left: 17.5rem;
  color: rgb(102, 99, 99);
}
.batch-icons{
  margin-top: 23px;
    display: flex;
    gap: 246px;
    margin-left: 22.5rem;
    color: rgb(59, 194, 183);
    font-size: 20px;
}
.batch-numbers>h1:hover{
  color:rgb(15, 170, 241);
}
.batch-title>h6:hover{
  color: #ddd;
}