.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12rem;
  border-bottom: 2px solid #ddd;
}

.header_right > ul {
  display: flex;
  list-style-type: none;
}
.header_left {
  display: flex;
  flex: 1;
}

.header_left > h1 {
  font-family: robutu;
  color: rgb(36, 36, 36);
}
.header_right > ul > li {
  padding: 15px;
  color: rgb(36, 36, 36);
  font-weight: 700;
}

.header_right > ul > li:hover {
  background-color: cadetblue;
  cursor: pointer;
}
