.offertext{
    text-align: center;
    padding-top: 4rem;
}
.offertext > h1>span{
    color:  rgb(59, 194, 183);
   
}
.offertext > span{
        /* font-size: 16.5px;
        font-weight: 400; */
    color: rgb(102, 99, 99);
}
.offertext > h1{
    line-height: 15px;
    font-weight: 700;
    color: rgb(36, 36, 36);
    font-size: 1.8rem;
}

.offercard_box >span{
    font-size: 14px;
}
.offer-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
}

.offercard_container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offercard_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: auto;
    /* padding: 20px 25px; */
    box-sizing: border-box;
    margin: 5px;
    padding: 20px;
}

.offercard_box >img{
    height: 75px;
  margin-bottom: 10px;
}

.offercard_box > h4{
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    color: rgb(102, 99, 99);
    font-weight: 700;
    line-height: 20px;
}
.offercard_box >p{
    text-align: center;
    font-size: 14px;
}

.offercard_box >button {
    width: 110px;
    height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 700;
    font-weight: 700;
    background-color: white;
}

.offercard_box >button:hover {
    background-color: rgb(59, 194, 183);
    color: white;
}
.offercard_box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
  cursor: pointer;

}
.offercard_box:hover .offercard_icons{
    color: rgb(59, 194, 183);
}

.offercard_icons{
    width: 15%;
    height: 100%;
    margin-bottom: 1rem;
}

.offercard_imgbox{
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
}



    @media(max-width:1050px){
        .offers-box-container{
          flex-wrap: wrap;
        }
        .offers_container{
          flex-wrap: wrap;
        }
        .offers_container>h2{
          height: auto;
          width: auto;
        }
        .offer-card{
          flex-wrap: wrap;
        }
        .offertext > span{
      font-size: 15px;
           
       
    
}}