.progress-bar-title{
    margin-top: 20px;
    margin-left: -20px;
    font-size: 22px;
    color: rgb(102, 99, 99);
}
.number{
    font-weight: 6000px;
    color: white;
    font-size: 22PX;
    align-items: center;
    margin-right: -72px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    padding: 30px;
}