

  .keyiconbg_2 {
    background-color: rgb(36,36,36);
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position:relative;
    bottom:14px;
    border-radius: 3px;    
    margin-left: auto;
    margin-right: auto;

  }
  .slider_container{
    background-color: rgb(59, 194, 183);
    width: 100%;
    margin-top: 4rem;
    height: 19rem;
  }


  .keyiconbg_2 {
    background-color: rgb(36,36,36);    
  }

  .slider_content>button{
    height: 2.9rem;
    width: 16rem;
    border: none;
    border-radius: 4px;
  }
  .slider_content>button>em{
      font-size: 12px;
      color: rgb(102, 99, 99);
  }
  .slider_content>button>strong{
      font-weight: 800;
      color:  rgb(59, 194, 183);
  }

  .slider_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
  }
  .slider_content>p{
    color: #ddd;
    font-size: 18px;
    width: 63rem;
    margin-top: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

 .fa_slide{
    font-size: 32px;
    color: rgb(36, 36, 36);
    margin-left: 7px;
  }
  .fa_slide:hover{
      color: #ddd;
  }

  @media(max-width:1050px){
    .slider_content {
      margin-top: 1rem;
    }
    .slider_content >p{      
    width: 30rem;
    font-size: 14px;
    }
    
  }